@use '../mixins/flex';
@use '../mixins/accessibility';
@use '../mixins/menu';

.footer {
	@include menu.headerFooter();
	@include menu.styleMenu();
	width: var(--sizeAll);
	bottom: 0;
	padding: 0 0.5rem;
	& span {
		color: var(--linkColor);
	}
	& * {
		font-size: 1.3rem;
	}
}

.footer-menu {
	@include flex.flex-row(2, 16, space-between);
	& a:hover > img,
	& a:focus > img {
		height: 3.5rem;
		transition: var(--transitionAll);
		margin: 0 -0.5rem;
	}
	&__link img {
		height: 2.5rem;
	}
	&__list {
		@include flex.flex-row(3, 8, end);
		width: var(--sizeAll);
	}
	&__list:first-child {
		@include flex.flex-row(3, 16, start);
		& a,
		& a > img {
			@include accessibility.disabledBoxShadow();
		}
	}
	&__link,
	&__link a {
		display: flex;
		height: var(--sizeMenu);
		align-items: center;
	}
	&__list,
	&__copyritght {
		align-items: center;
	}
}

@media (max-width: 1024px) {
	.footer {
		padding-bottom: 1rem;
		position: static;
		width: 100%;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		&-menu {
			@include flex.flex-column(center, center, var(--sizeGap));
			&__social {
				@include flex.flex-column(end, center);
				&__title {
					justify-content: center;
				}
				&__list {
					flex-wrap: wrap;
				}
			}
			&__legal {
				justify-content: center;
			}
		}
	}
}
