@use '../mixins/menu';

.shadow {
	transition: var(--transitionAll);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	background-color: var(--transparentColor);
}

.close-icon {
	position: absolute;
	background-image: url('/public/images/components/close.svg');
	@include menu.menu-onclick;
	top: 0;
	right: 0;
	background-position: top 0 right 8px;
	&:hover,
	&:focus {
		background-image: url('/public/images/components/close__hover.svg');
	}
}
