        <footer class="footer" id="footer">
            <nav
                role="navigation"
                class="footer-menu flex-row"
                id="footerMenu"
                aria-label="Réseaux sociaux et mentions légales">
                <div class="footer-menu__social flex-row" id="social">
                    <p class="footer-menu__social__title list6">
                        <span>Suivez-moi : </span>
                    </p>
                    <ul class="footer-menu__social__list flex-row" id="socialList">
                        <li data-menus class="footer-menu__link list7">
                            <span>
                                <a href="https://codepen.io/f-nour/" target="_blank">
                                    <img src="src/img/footer/codepen-white.svg" alt="Codepen" />
                                </a>
                            </span>
                        </li>
                        <li data-menus class="footer-menu__link list8">
                            <span>
                                <a href="https://bitbucket.org/f-nour/" target="_blank">
                                    <img src="src/img/footer/bitbucket-white.svg" alt="Bitbucket" />
                                </a>
                            </span>
                        </li>
                        <li data-menus class="footer-menu__link list9">
                            <span>
                                <a href="https://github.com/F-nour//" target="_blank">
                                    <img src="src/img/footer/GitHub-white.png" alt="Github" />
                                </a>
                            </span>
                        </li>
                        <li data-menus class="footer-menu__link list10">
                            <span>
                                <a href="https://www.linkedin.com/in/f-nour/" target="_blank">
                                    <img src="src/img/footer/In-White.png" alt="Linkedin" />
                                </a>
                            </span>
                        </li>
                        <li data-menus class="footer-menu__link list10">
                            <span>
                                <a href="https://www.facebook.com/in/f-nour/" target="_blank">
                                    <img src="src/img/footer/In-White.png" alt="Facebook" />
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <p class="footer-menu__link download" id="download">
                    <a href="https://f-nour.github.io/cv" target='_blank'>
                        Consulter mon CV
                    </a>
                </p>
                <ul class="footer-menu__legal flex-row" id="menuLegal">
                    <li data-menus class="footer-menu__link">
                        <a href="#legal">Mentions légales</a>
                    </li>
                    <li data-menus class="footer-menu__link">
                        <a href="#accessibility">Charte d'Accessibilité</a>
                    </li>
                    <li>
                        <a href="#plan">Plan du site</a>
                    </li>
                    <li class="footer-menu__link">
                        <span>&copy; 2022 Tous droits réservés </span>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>
