<section class="home" id="home" name="home">
	<div class="home__title" id="homeTitle" name="homeTitle">
		<h1>Bienvenue sur le site de Kiff Ton Écharpe</h1>
	</div>
	<div class="home__content" id="homeContent" name="homeContent">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae natus
			dolores ad molestias quidem quisquam labIioriosam in unde deserunt amet.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos numquam rerum
			tenetur eveniet fugit, at ea consequatur veniam illo iure?
		</p>
	</div>
</section>
