// HTML element mixins



@mixin main() {
	gap: 2rem;
	justify-content: center;
	@media screen and (max-width: 1024px) {
		width: var(--sizeAll);
		height: var(--sizeAll);
		padding: 0 1rem;

	}
}

@mixin container() {
	&__content {
		width: 90%;
		margin: 0 auto;
		gap: 1rem;
		@media screen and (max-width: 1024px) {
			width: var(--sizeAll);
		}
		& div {
			gap: 1rem;
		}
	}
	&__banner {
		width: var(--sizeAll);
		height: var(--sizeBanner);
		background: var(--bgColor);
		box-shadow: var(--boxShadow);
		@media screen and (max-width: 1024px) {
			width: var(--sizeAll);
			height: var(--sizeAll);
		}
	}
}
