@use '../mixins/elements';

.main {
	width: var(--sizeAll);
	padding-bottom: calc(var(--sizeMenu) + 2rem);
	& > section {
		width: var(--sizeAll);
		height: var(--sizeAll);
		@include elements.main();
		@include elements.container();
	}
}

.f18 {
	font-size: 1.8rem;
}
