:root {
	--textColor: hsl(260, 40%, 20%);
	--linkColor: hsl(260, 40%, 40%);
	--linkExternal: hsl(260, 80%, 40%);
	--focusColor: hsl(260, 100%, 50%);
	--borderColor: hsla(245, 16%, 20%, 0.6);
	--scrollColor: hsl(245, 15%, 70%);
	--bgColor: hsl(245, 15%, 90%);
	--transparentColor: hsla(245, 100%, 15%, 0.6);
	// --closeColor:
	// --openColor:
	// --collapsColor:
}
